extends layout

block content
  h1 Hello #{who}
  p Please upload your video to blob
  form
    input(type="file" id="file")
    button(id="upload" onclick="upload()")
  div
    p(id="uploadmsg")
    div
      a(href="./student") Next Step
