extends layout

block content
  h1 Hello #{who}
  p Please upload your video to blob
  form
    input(type="file" id="file")|
  p
  button(id="upload" onclick="upload()") Upload
  div
    p#upmsg test
  div
    a(href="./student") Next Step
