doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript").
      function done(){
          var x=document.getElementById("donemsg");
          x.innerHTML = "Message sent to Teacher successfully";
          const http = new XMLHttpRequest();
          const url = "https://zhentestwechat.azurewebsites.net/api/Inc?code=qUzUGwLj0n8jXbgTSh/OnJm49elggJpkW8lPBy3387PSlnr6LhiupA==&name=aa";
          http.open("GET", url);
          http.send();
      }
      function refresh(){
        var x=document.getElementById("resultmsg");
        x.innerHTML = "1 student has watched the video"
        //call function
      }
  body
    block content
